<main class="main">
  <h2>¿Por qué pasarte a Premium?</h2>
  <div class="main-container">
    <include
      src="../partials/components/advantages.html"
      icon-advantag="aicon1"
      title="Descarga música"
      paragraph="Llévala siempre contigo"
    ></include>
    <include
      src="../partials/components/advantages.html"
      icon-advantag="icon2"
      title="Sin anuncios"
      paragraph="Disfruta de música sin interrupciones"
    ></include>
    <include
      src="../partials/components/advantages.html"
      icon-advantag="icon3"
      title="Escucha lo que quieras"
      paragraph="Incluso en el móvil"
    ></include>
    <include
      src="../partials/components/advantages.html"
      icon-advantag="icon4"
      title="Salta todas las canciones que quieras"
      paragraph="Simplemente dale a siguiente"
    ></include>
  </div>
</main>
