/* HEADER - NAV - HERO */
/** NAV **/
.nav {
  height: 80rem;
  padding: 0 16rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white;
  background-color: $black;

  &__logo {
    width: 150rem;
    height: 60rem;

    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @media all and (min-width: 480px) {
      min-width: 150rem;
    }
  }

  &__hamburguer {
    width: 40rem;
    height: 40rem;
    text-align: center;
    font-size: 30rem;
    line-height: 40rem;
    &__hamburguer:hover {
      cursor: pointer;
    }

    @media all and (min-width: 480px) {
      display: none;
    }
  }
}

.nav ul {
  display: none;
}

.nav > ul > li {
  padding: 0 10rem;
}

.nav > ul > li:last-child {
  padding-right: 0;
}

.nav > ul > li:hover {
  cursor: pointer;
}
/** END OF NAV **/

/* END OF HEADER - NAV - HERO */

/*  */
/*  */
/*  */
/* TABLET */
@media all and (min-width: 480px) {
  /* END OF HEADER - NAV - HERO */
  /** NAV **/

  .nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }

  .nav > ul > li > a {
    font-size: 16rem;
    line-height: 25rem;
  }
  /** END OF NAV **/

  /* END OF HEADER - NAV - HERO */
}
/* END OF TABLET */
/*  */
/*  */
/*  */
